* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    height: 100%;
    font-size: 16px;
    font-family: 'Myriad', sans-serif;
}
.shadow-box {
    top:0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 4;
}
//--------------------------------------------------------------------------------------------------------------------

.header {
    box-shadow: -10px -10px 0 10px ;
    align-items: flex-end;
    background-color:grey;
    padding-top: 50px;
    width: 100%;

    &__inner{
        margin: 0 15%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__inner-right{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    &__user-form{
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-left: 20px;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        min-width: 200px;
    }

    &__user-form>*{
        margin:0 10px;
    }

    &__user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &__drop,&__drop-products{
        position: absolute;
        top: 100%;
        margin:0;
        width: 100%;
        height: 0;
        transition: all cubic-bezier(.06,-0.39,.68,1.81) 0.4s;
        background-color: rgb(30, 28, 25);
        overflow: hidden;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &__user-form:hover  &__drop {
        height: 120px;
    }

    #products{
        position: relative;
    }

    #products:hover  &__drop-products{
        height: 200%;
    }



    &__link,&__link-drop {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        cursor: pointer;
        text-decoration: none;
        color: aliceblue;
        padding: 0 20px;
        font-size: 20px;
        border: none;
        background-color: inherit;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.4s ease-in-out;
        outline: none;
    }

    &__drop>*,&__drop-products>*{


    }

    &__link-drop:hover {
        background-color: chocolate;
    }

    &__link:hover{
        color: aliceblue;
        background-color: rgba(2, 6, 4, 0.35);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}

//--------------------------------------------------------------------------------------------------------------------
.outer {
    background-color: lightgrey;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightgrey;
    margin: 0 15%;
    padding: 40px 0;
    min-height: 100vh;

    &__inner {
        display:flex;
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 0 8px 6px  rgba(0, 0, 0, 0.5);
    }
    &__content {

        width: 14%;
        display:flex;
        margin: 20px 15px;
        text-align: center;
        flex-direction: column;
        height: 300px;
        min-width: 250px;
        min-height: 400px;
        background-color: grey;
        border-radius: 10px;

    }
    &__content-open {
        position: fixed;
        display: flex;
        text-align: center;
        flex-direction: column;
        height: 700px;
        width: 400px;
        top: 50%;
        left: 50%;
        margin: -350px -200px;
        background-color: grey;
        z-index: 5;
        border-radius: 10px;
    }
    &__img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        top: 0;
        height: 50%;
        width: 100%;
    }

    &__short {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__short:hover {
        white-space: normal;
        text-overflow: ellipsis;
        cursor: default;
    }
    &__buttons {
        display: flex;
    }
    &__buttons>* {
        width: 50%;
        height: 50px;
        padding: 0;
        margin: 0;
        border: none;
        font: inherit;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        transition: all 0.5s;
    }
    &__buttons>*:hover {
        filter:invert(100%)
    }
    &__info {
        border-bottom-left-radius: 10px;
    }
    &__add-cart {
        border-bottom-right-radius: 10px;
    }
}
//--------------------------------------------------------------------------------------------------------------------

.orders {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin: 0 15%;
    padding: 40px 0;
    min-height: 100vh;




    &__item {
        display: flex;
        flex-direction: column;
        background-color: lightgreen;
        border: 1px solid black;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
    }

    &__list {
        height: 0;
        overflow: hidden;
    }

    &__item:hover &__list {
        height: 100%;

    }

    &__inner,&__info{
        display: flex;
        justify-content: space-between;
        margin: 10px;
        align-items: center;
        text-align: center;
    }
    &__info>*{
        width: 20%;
    }
    &__info>:first-child {
        width: 5%;
    }

    &__select {
        height: 20px;
        width: 10%;
    }

    &__inner>:not(:first-child) {
        display: flex;
        width: 20%;
        height: 50px;
        align-items: center;
        text-align: center;
    }

    &__img {
        height: 50px;
        width: 15%;
    }
}

//--------------------------------------------------------------------------------------------------------------------

.logIn {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    z-index: 5;
    background-color: darkkhaki;
    margin: -100px -150px;
    border-radius: 10px;

    &__title{
        background-color: red;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px;
    }
    &__form>*{
        margin-top: 10px;
    }
    &__submit {
        margin-top: 30px;
    }
}

//--------------------------------------------------------------------------------------------------------------------

.reg {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 500px;
    z-index: 5;
    background-color: darkkhaki;
    margin: -250px -150px;
    border-radius: 10px;
    &__title{
        background-color: red;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px;
    }
    &__form>*{
        margin-top: 10px;
    }
    &__submit {
        margin-top: 40px;
    }
}

//--------------------------------------------------------------------------------------------------------------------

.cart {
    position: fixed;
    text-align: center;
    top: 50%;
    right: 0;
    height: 600px;
    max-height: 600px;
    width: 14%;
    background-color: darksalmon;
    margin-top: -300px;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.5s;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;

    &__inner {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-top: 5px;
    }

    &__img {
        height: 100%;
        width: 30%;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__buttons>* {
        height: 33.3%;
        width: 30px;
        transition: all 0.5s;
    }
    &__buttons>*:hover,&__buy:hover {
        filter:invert(100%)
    }

    &__sum {
        position: fixed;
        width: 14%;
        text-align: center;
        transition: width 0.5s;
        padding-top: 5px;
        height: 30px;
        background-color: red;
        border-top-left-radius:10px;
    }

    &__buy {
        position: fixed;
        top: 50%;
        right: 0;
        width: 14%;
        margin-top: 260px;
        height: 40px;
        border-bottom-left-radius:10px;
        padding: 0;
        border: none;
        font: inherit;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        transition: all 0.5s;
    }
}

.cart:hover {
    .cart__sum{
        width: 30%;
    }
    .cart__buy {
        width: 30%;
    }
    overflow-y: auto;
    opacity: 1;
    width: 30%;
}

//--------------------------------------------------------------------------------------------------------------------

.footer {
    width:100%;
    background-color: chartreuse;
    &__content {
        margin: 0 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__links {
        font-size: 18px;
        width: 20%;
        margin:40px 0 ;
    }
    &__links>ul>li,a {
        list-style: none;
        text-decoration: none;
        margin-top: 10px;
        text-align: center;
    }
    &__links ul {
        text-align: center;
    }
}

//--------------------------------------------------------------------------------------------------------------------

@media only screen and (max-width: 450px) {
    .header {
        align-items: flex-end;

        padding-top: 10px;
        &__inner {
            margin: 0;
        }
        &__inner-right{
            width: 100%;
        }
        &__link {
            margin-top: 10px;
            width: 100%;
            text-align: center;
        }
        &__user-form {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 10px;

        }
    }
    .main {
        padding:10px 0;
        margin: 0 5%;
        justify-content: center;
    }
    .footer {
        &__content {
            margin: 0 5%;

            justify-content: center;
            text-align: center;
        }
        &__links {
            width: 50%;
            margin:20px 0 ;
        }
        &__links:first-child{
            width: 100%;
        }
        &__links>ul,ul>li,a {
            text-align: center;
        }
    }

    .cart{

        width: 14%;
        &__img {
            height: 100%;
            width: 100%;
        }
    }

    .cart:hover {
        .cart__sum{
            width: 100%;
        }
        .cart__buy {
            width: 100%;
        }
        .cart__img {
            height: 100%;
            width: 30%;
        }

        width: 100%;
    }
}